@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'AvenirRegular';
    font-weight: 300;
    src: url("/public/fonts/AvenirArabic-Regular.woff2");
    font-display: 'swap';
}

@font-face {
    font-family: 'AvenirArabic';
    font-weight: 600;
    src: url("/public/fonts/AvenirArabic-Heavy.woff2");
    font-display: swap
}

@font-face {
    font-family: 'AvenirArabic';
    font-weight: 700;
    src: url("/public/fonts/AvenirArabic-Heavy.woff2");
    font-display: swap
}